* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: overlay;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #22272e;
  color: #a4aab9;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/*Navbar*/
.nav-bar {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
}

.item-navbar {
  font-size: 1.5rem;
  text-decoration: none;
  padding: 0.5rem 2rem;
  color: #a4aab9;
}

.item-navbar-current,
.item-navbar:hover {
  text-decoration: none;
  color: #ec775c;
  transition: all 0.2s ease-in-out;
}

@media (min-width: 400px) {
  .nav-bar {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: center;
  }
}

@media (min-width: 700px) {
  .nav-bar {
    margin: 1rem 6rem;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: flex-end;
  }

  .item-navbar {
    padding: 0 2rem;
  }
}

/*Home*/
.main-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 90vh;
  align-items: flex-start;
  font-size: 2rem;
  margin-left: 1rem;
}

.main-title h3 {
  color: white;
  font-size: 3rem;
  padding-bottom: 0.5rem;
}

.main-title p {
  color: rgb(148, 118, 150);
  font-size: 1rem;
  font-size: 2rem;
}

@media (min-width: 400px) {
  .main-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 90vh;
    align-items: flex-start;
  }

  @media (min-width: 700px) {
    .main-title {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 90vh;
      align-items: flex-start;
      margin: 0rem 30rem;
    }
  }
}

/*Projects*/

.projects-main {
  display: flex;
  flex-direction: column;
}

.projects-item {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.projects-item-pic {
  width: 100%;
  height: auto;
  background-color: #a4aab9;
  border: 2px solid #a4aab9;
  margin-right: 2rem;
  border-radius: 10px;
}

.projects-item h3 {
  color: white;
  font-size: 1.5rem;
  margin: 0;
}

.projects-item-text p,
.projects-item-text h3,
.projects-item-text h4 {
  text-align: justify;
  padding: 0.5rem 0;
}

.projects-item-text-links {
  padding-top: 0.5rem;
}

button {
  padding: 0.5rem 0.75rem;
  margin-right: 1rem;
  width: 100px;
  font-size: 1rem;
  background-color: rgb(126, 125, 125);
  background-color: #627288;
  background-color: #a4aab9;
  border: none;
  border-radius: 10px;
}

button:hover {
  transition: all 0.2s ease-in-out;
  background-color: #737885;
}

@media (min-width: 1000px) {
  .projects-container {
    margin: 2rem 0;
  }

  .projects-main {
    margin: 0 6rem;
  }

  .projects-item {
    display: flex;
    flex-direction: row;
    padding: 1rem;
  }
  .projects-item-pic {
    height: 200px;
    width: 355px;
    background-color: #a4aab9;
    border: 2px solid #a4aab9;
    margin-right: 2rem;
    border-radius: 10px;
  }

  .projects-item h3 {
    color: white;
    font-size: 2rem;
    margin: 0;
  }

  .projects-item-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 0 1rem;
  }
}

/* About */

.about-page {
  display: flex;
  flex-direction: column;
}
.about-main {
  display: flex;
  flex-direction: column;
}
li {
  list-style-type: none;
}

#about-picture {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

#about-picture ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#about-picture-container-buttons {
  display: flex;
  align-items: center;
  padding: 0.5rem 0;
}

#pictureMR {
  width: 50%;
  height: auto;
  border: 2px solid #a4aab9;
  border-radius: 10px;
  padding: 0;
  margin: 0;
  object-fit: cover;
}

#about-text {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

#about-text h3 {
  padding-bottom: 0.5rem;
}

#about-text p {
  text-align: justify;
  padding: 0.5rem 0;
}
/* @media (min-width: 520px) {
  #pictureMR {
    width: 50%;
    height: auto;
    border: 2px solid #a4aab9;
    border-radius: 10px;
    padding: 0;
    margin: 0;
    object-fit: cover;
  }
} */

@media (min-width: 700px) {
  .about-page {
    display: flex;
    flex-direction: column;
    height: 90vh;
    align-items: center;
    justify-content: center;
  }

  .about-main {
    display: flex;
    flex-direction: row;

    justify-content: space-between;
    width: 100vh;
  }

  #about-picture {
    padding: 2rem;
  }

  #about-picture h3,
  #about-picture p,
  #about-picture button {
    padding: 1rem;
    text-align: center;
  }

  #about-picture-container-buttons {
    display: flex;
    justify-content: space-between;
  }

  .about-picture-container-button-external-link {
    margin: 1.5rem 0 0 0;
    padding-top: 5rem;
  }

  #about-text h3 {
    padding: 2rem 1.5rem 0 1rem;
  }

  #about-text p {
    padding: 1rem;
    text-align: justify;
  }

  #pictureMR {
    width: 100%;
    height: auto;
    border: 2px solid #a4aab9;
    border-radius: 10px;
    padding: 0;
    margin: 0;
    object-fit: cover;
  }
}
